
\.metadata/\*
\.settings/\*

WebAutomation/target/classes/\.DS_Store

\.classpath

\.DS_Store

\.project

\.recommenders/caches/

\.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/

Test/\.settings/

WebAutomation/\.settings/
WebAutomation/test-output/
